// Footer
.footer {
  flex: none;
  padding: calc-em(35px) 0;
  color: $color-gray;
  border-top: 1px solid $border-light;
  p {
    display: inline-block;
    margin: 0;
  }
  a {
    color: $color-gray;
    &:first-child {
      padding-right: calc-em(15px);
    }
  }
}
