// Nav
// The menu toggle icon (hamburger icon)
.i-menu {
  position: relative;
  float: right;
  font-family: $font-secondary;
  z-index: 8001;
}
.i-menu a {
  display: block;
  margin-top: calc-em(-5px);
  width: calc-em(25px);
  height: calc-em(27px);
  cursor: pointer;
  color: $color-white;
  letter-spacing: 0.06em;
}
.i-menu a span {
  display: inline-block;
  position: absolute;
  left: calc-em(-55px);
  top: calc-em(-11px);
  font-size: calc-em(16px);
  font-style: normal;
  @media (min-width: $bp-medium) {
	font-size: calc-em(20px);
  }
}
.i-menu a i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  background: $color-white;
  transition: all 0.2s ease-out;
}

.i-menu a i::before,
.i-menu a i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: $color-white;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.i-menu a i::before {
  top: -8px;
}
.i-menu a i::after {
  bottom: -8px;
}
.i-menu a:hover i::before {
  top: -10px;
}
.i-menu a:hover i::after {
  bottom: -10px;
}
.i-menu a.active i {
  background: transparent;
}
.i-menu a.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}
.i-menu a.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

// the wrapper & it's items
.menu-wrapper {
  opacity: 0;
  visibility: hidden;
  background: $color-primary-dark;
  z-index: 8000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  font-size: calc-em(18px);
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
@media (min-width: 768px) {
  .menu-wrapper {
    font-size: calc-em(32px);
  }
}
.menu-wrapper p {
  letter-spacing: 0;
  text-transform: none;
  color: $color-white;
}
.menu-wrapper ul {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  list-style: none;
  text-align: center;
  //padding: 0 calc-em(15px);
}
@media (480px) {
  .menu-wrapper ul {
    top: 55%;
  }
}
.menu-wrapper.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}
.menu-list {
  margin: 0;
}
.menu-list li {
  transition: all 0.2s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  @media (max-width: 480px) {
    font-size: calc-em(24px);
  }
}
.menu-list li a {
  display: block;
  width: 100%;
  padding-bottom: calc-em(20px);
  color: $color-white;
}
.menu-list li p {
  color: $color-white;
}
@media (min-width: 768px) {
  .menu-list li a {
    padding: calc-em(20px);
  }
}
.menu-list:hover > li {
  opacity: 0.5;
}
.menu-list:hover > li:hover {
  opacity: 1;
}

// Sweep To Right transition
@media (min-width: $bp-medium) {

.anim-sweep-to-right {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.6s;
}
.anim-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-white;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}
.anim-sweep-to-right:hover, .anim-sweep-to-right:focus, .anim-sweep-to-right:active {
  color: white;
  a {
    color: $color-primary;
    text-decoration: none;
    transition-duration: 0.6s;
  }
}
.anim-sweep-to-right:hover:before, .anim-sweep-to-right:focus:before, .anim-sweep-to-right:active:before {
  transform: scaleX(1);
}

}