/**
 * @section Normalize.css
 * Normalize.css base with custom code.
 * Additional normalize styles incorporated throughout components.
 * @link http://necolas.github.io/normalize.css/
 */
/**
 * Mobile screen resizing
 * @link http://dev.w3.org/csswg/css-device-adapt/
 */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0; }
@-moz-viewport {
  width: device-width;
  zoom: 1.0; }
@-ms-viewport {
  width: device-width;
  zoom: 1.0; }
@-o-viewport {
  width: device-width;
  zoom: 1.0; }
@viewport {
  width: device-width;
  zoom: 1.0; }
/**
 * Remove the tap delay in webkit
 * @link https://medium.com/@adactio/delay-a9df9edceef3#.7dmbl3xow
 */
a, .link-block-styled,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation; }

/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
  box-sizing: border-box; }

/**
 * 1. Set default font family to default.
 * 2. Force scrollbar display to prevent jumping on pages.
 * 3. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  overflow-y: scroll;
  /* 2 */
  text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */ }

/**
 * Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Prevent img and video elements from spilling outside of the page on smaller screens.
 */
img,
video {
  max-width: 100%;
  height: auto; }

/**
 * Prevent iframe, object, and embed elements from spilling outside of the page on smaller screens.
 * height: auto causes iframes to smush, so it's omitted here.
 */
iframe,
object,
embed {
  max-width: 100%; }

/**
 * Hide the template element in IE, Safari, and Firefox < 22.
 */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Prevents IE from making scaled images look like crap
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Address inconsistent margin.
 */
figure {
  margin: 0; }

/**
 * @workaround Remove focus from <main> element when using tabindex="-1" hack for skipnav link
 * @link https://code.google.com/p/chromium/issues/detail?id=37721
 */
.tabindex:focus {
  outline: none; }

/**
 * @section Print
 * Styling for printed content. Adapted from HTML5BP.
 * @link http://html5boilerplate.com
 */
@media print {
  /**
   * Universal selector.
   * Reset all content to transparent background, black color, and remove box and text shadows.
   */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /**
   * Specifies page margin
   */
  @page {
    margin: 0.5cm; }
  /**
   * Underline all links
   */
  a, .link-block-styled,
  a:visited,
  .link-block-styled:visited {
    text-decoration: underline; }

  /**
   * Show URL after links
   */
  a[href]:after, [href].link-block-styled:after {
    content: " (" attr(href) ")"; }

  /**
   * Don't show URL for internal links
   */
  a[href^="#"]:after, [href^="#"].link-block-styled:after {
    content: ""; }

  /**
   * Specifies the minimum number of lines to print at the top and bottom of a page.
   */
  p,
  h1, h2, h3 {
    orphans: 3;
    widows: 3; }

  /**
   * Avoid inserting a page break after headers
   */
  h1, h2, h3 {
    page-break-after: avoid; }

  /**
   * Change border color on blockquotes and preformatted text.
   * Avoid page breaks inside the content
   */
  pre,
  blockquote {
    border-color: #999;
    page-break-inside: avoid; }

  /**
   * Displayed as a table header row group
   */
  thead {
    display: table-header-group; }

  /**
   * Avoid inserting a page break inside table rows and images
   */
  tr,
  img {
    page-break-inside: avoid; } }
/**
 * @section Typography
 * Sets font styles for entire site
 */
body {
  background: white;
  color: #0c0c0c;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  @media (min-width: 53.125em) {
    body {
      line-height: 1.5625; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Francois One", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  word-wrap: break-word; }

h1,
.h1 {
  font-size: 2em; }
  @media (min-width: 53.125em) {
    h1,
    .h1 {
      font-size: 3.875em; } }

h2,
.h2 {
  font-size: 1.75em; }
  @media (min-width: 53.125em) {
    h2,
    .h2 {
      font-size: 2.25em; } }

h3,
.h3 {
  font-size: 1.5em; }
  @media (min-width: 53.125em) {
    h3,
    .h3 {
      font-size: 2em; } }

h4,
.h4 {
  font-size: 1.375em; }
  @media (min-width: 53.125em) {
    h4,
    .h4 {
      font-size: 1.625em; } }

h5,
.h5 {
  font-size: 1.125em; }
  @media (min-width: 53.125em) {
    h5,
    .h5 {
      font-size: 1.25em; } }

h6,
.h6 {
  font-size: 1em; }

p {
  font-size: 1em;
  margin: 0 0 1.5625em; }
  @media (min-width: 53.125em) {
    p {
      font-size: 1.125em; } }

a, .link-block-styled {
  background-color: transparent;
  color: #154ad8;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects; }
  a:active, .link-block-styled:active, a:hover, .link-block-styled:hover, .link-block:hover .link-block-styled {
    outline: 0; }
  a:active, .link-block-styled:active, a:focus, .link-block-styled:focus, a:hover, .link-block-styled:hover, .link-block:hover .link-block-styled {
    color: #113db3;
    text-decoration: underline; }

a.link-block, .link-block.link-block-styled {
  color: #2a302e;
  display: block;
  text-decoration: none; }

ul,
ol {
  margin: 0 0 1.5625em 2em;
  padding: 0;
  font-size: 1em; }
  @media (min-width: 53.125em) {
    ul,
    ol {
      font-size: 1.125em; } }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

dl,
dd {
  margin: 0;
  padding: 0; }

dd {
  margin-bottom: 1.5625em; }

dt {
  font-weight: bold; }

.list-unstyled {
  margin-left: 0;
  list-style: none; }

/**
 * Display lists on a single line.
 */
.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0; }

.list-inline > li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em; }

hr {
  border: 0;
  border-top: 1px solid #f7f9fb;
  border-bottom: 0 solid white;
  box-sizing: content-box;
  margin: 2em auto;
  overflow: visible; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  font-size: 1.1875em;
  font-style: italic;
  margin: 0 0 1.5625em;
  padding-left: 0.84211em;
  padding-right: 0.84211em;
  border-left: 2px solid #275cea; }
  blockquote cite {
    color: gray;
    font-size: 0.84211em;
    padding-top: 1em; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

.section-title {
  padding-bottom: 0.625em;
  border-bottom: 2px solid #555555;
  color: #555555; }

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local("Francois One Regular"), local("FrancoisOne-Regular"), url(https://fonts.gstatic.com/s/francoisone/v9/bYbkq2nU2TSx4SwFbz5sCIjoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local("Francois One Regular"), local("FrancoisOne-Regular"), url(https://fonts.gstatic.com/s/francoisone/v9/bYbkq2nU2TSx4SwFbz5sCBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Linearicons-Free';
  src: url(asset_path("fonts/Linearicons-Free.eot?w118d"));
  src: url(asset_path("fonts/Linearicons-Free.eot?#iefixw118d")) format("embedded-opentype"), url(asset_path("fonts/Linearicons-Free.woff2?w118d")) format("woff2"), url(asset_path("fonts/Linearicons-Free.woff?w118d")) format("woff"), url(asset_path("fonts/Linearicons-Free.ttf?w118d")) format("truetype"), url(asset_path("fonts/Linearicons-Free.svg?w118d#Linearicons-Free")) format("svg");
  font-weight: normal;
  font-style: normal; }
.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lnr-home:before {
  content: "\e800"; }

.lnr-apartment:before {
  content: "\e801"; }

.lnr-pencil:before {
  content: "\e802"; }

.lnr-magic-wand:before {
  content: "\e803"; }

.lnr-drop:before {
  content: "\e804"; }

.lnr-lighter:before {
  content: "\e805"; }

.lnr-poop:before {
  content: "\e806"; }

.lnr-sun:before {
  content: "\e807"; }

.lnr-moon:before {
  content: "\e808"; }

.lnr-cloud:before {
  content: "\e809"; }

.lnr-cloud-upload:before {
  content: "\e80a"; }

.lnr-cloud-download:before {
  content: "\e80b"; }

.lnr-cloud-sync:before {
  content: "\e80c"; }

.lnr-cloud-check:before {
  content: "\e80d"; }

.lnr-database:before {
  content: "\e80e"; }

.lnr-lock:before {
  content: "\e80f"; }

.lnr-cog:before {
  content: "\e810"; }

.lnr-trash:before {
  content: "\e811"; }

.lnr-dice:before {
  content: "\e812"; }

.lnr-heart:before {
  content: "\e813"; }

.lnr-star:before {
  content: "\e814"; }

.lnr-star-half:before {
  content: "\e815"; }

.lnr-star-empty:before {
  content: "\e816"; }

.lnr-flag:before {
  content: "\e817"; }

.lnr-envelope:before {
  content: "\e818"; }

.lnr-paperclip:before {
  content: "\e819"; }

.lnr-inbox:before {
  content: "\e81a"; }

.lnr-eye:before {
  content: "\e81b"; }

.lnr-printer:before {
  content: "\e81c"; }

.lnr-file-empty:before {
  content: "\e81d"; }

.lnr-file-add:before {
  content: "\e81e"; }

.lnr-enter:before {
  content: "\e81f"; }

.lnr-exit:before {
  content: "\e820"; }

.lnr-graduation-hat:before {
  content: "\e821"; }

.lnr-license:before {
  content: "\e822"; }

.lnr-music-note:before {
  content: "\e823"; }

.lnr-film-play:before {
  content: "\e824"; }

.lnr-camera-video:before {
  content: "\e825"; }

.lnr-camera:before {
  content: "\e826"; }

.lnr-picture:before {
  content: "\e827"; }

.lnr-book:before {
  content: "\e828"; }

.lnr-bookmark:before {
  content: "\e829"; }

.lnr-user:before {
  content: "\e82a"; }

.lnr-users:before {
  content: "\e82b"; }

.lnr-shirt:before {
  content: "\e82c"; }

.lnr-store:before {
  content: "\e82d"; }

.lnr-cart:before {
  content: "\e82e"; }

.lnr-tag:before {
  content: "\e82f"; }

.lnr-phone-handset:before {
  content: "\e830"; }

.lnr-phone:before {
  content: "\e831"; }

.lnr-pushpin:before {
  content: "\e832"; }

.lnr-map-marker:before {
  content: "\e833"; }

.lnr-map:before {
  content: "\e834"; }

.lnr-location:before {
  content: "\e835"; }

.lnr-calendar-full:before {
  content: "\e836"; }

.lnr-keyboard:before {
  content: "\e837"; }

.lnr-spell-check:before {
  content: "\e838"; }

.lnr-screen:before {
  content: "\e839"; }

.lnr-smartphone:before {
  content: "\e83a"; }

.lnr-tablet:before {
  content: "\e83b"; }

.lnr-laptop:before {
  content: "\e83c"; }

.lnr-laptop-phone:before {
  content: "\e83d"; }

.lnr-power-switch:before {
  content: "\e83e"; }

.lnr-bubble:before {
  content: "\e83f"; }

.lnr-heart-pulse:before {
  content: "\e840"; }

.lnr-construction:before {
  content: "\e841"; }

.lnr-pie-chart:before {
  content: "\e842"; }

.lnr-chart-bars:before {
  content: "\e843"; }

.lnr-gift:before {
  content: "\e844"; }

.lnr-diamond:before {
  content: "\e845"; }

.lnr-linearicons:before {
  content: "\e846"; }

.lnr-dinner:before {
  content: "\e847"; }

.lnr-coffee-cup:before {
  content: "\e848"; }

.lnr-leaf:before {
  content: "\e849"; }

.lnr-paw:before {
  content: "\e84a"; }

.lnr-rocket:before {
  content: "\e84b"; }

.lnr-briefcase:before {
  content: "\e84c"; }

.lnr-bus:before {
  content: "\e84d"; }

.lnr-car:before {
  content: "\e84e"; }

.lnr-train:before {
  content: "\e84f"; }

.lnr-bicycle:before {
  content: "\e850"; }

.lnr-wheelchair:before {
  content: "\e851"; }

.lnr-select:before {
  content: "\e852"; }

.lnr-earth:before {
  content: "\e853"; }

.lnr-smile:before {
  content: "\e854"; }

.lnr-sad:before {
  content: "\e855"; }

.lnr-neutral:before {
  content: "\e856"; }

.lnr-mustache:before {
  content: "\e857"; }

.lnr-alarm:before {
  content: "\e858"; }

.lnr-bullhorn:before {
  content: "\e859"; }

.lnr-volume-high:before {
  content: "\e85a"; }

.lnr-volume-medium:before {
  content: "\e85b"; }

.lnr-volume-low:before {
  content: "\e85c"; }

.lnr-volume:before {
  content: "\e85d"; }

.lnr-mic:before {
  content: "\e85e"; }

.lnr-hourglass:before {
  content: "\e85f"; }

.lnr-undo:before {
  content: "\e860"; }

.lnr-redo:before {
  content: "\e861"; }

.lnr-sync:before {
  content: "\e862"; }

.lnr-history:before {
  content: "\e863"; }

.lnr-clock:before {
  content: "\e864"; }

.lnr-download:before {
  content: "\e865"; }

.lnr-upload:before {
  content: "\e866"; }

.lnr-enter-down:before {
  content: "\e867"; }

.lnr-exit-up:before {
  content: "\e868"; }

.lnr-bug:before {
  content: "\e869"; }

.lnr-code:before {
  content: "\e86a"; }

.lnr-link:before {
  content: "\e86b"; }

.lnr-unlink:before {
  content: "\e86c"; }

.lnr-thumbs-up:before {
  content: "\e86d"; }

.lnr-thumbs-down:before {
  content: "\e86e"; }

.lnr-magnifier:before {
  content: "\e86f"; }

.lnr-cross:before {
  content: "\e870"; }

.lnr-menu:before {
  content: "\e871"; }

.lnr-list:before {
  content: "\e872"; }

.lnr-chevron-up:before {
  content: "\e873"; }

.lnr-chevron-down:before {
  content: "\e874"; }

.lnr-chevron-left:before {
  content: "\e875"; }

.lnr-chevron-right:before {
  content: "\e876"; }

.lnr-arrow-up:before {
  content: "\e877"; }

.lnr-arrow-down:before {
  content: "\e878"; }

.lnr-arrow-left:before {
  content: "\e879"; }

.lnr-arrow-right:before {
  content: "\e87a"; }

.lnr-move:before {
  content: "\e87b"; }

.lnr-warning:before {
  content: "\e87c"; }

.lnr-question-circle:before {
  content: "\e87d"; }

.lnr-menu-circle:before {
  content: "\e87e"; }

.lnr-checkmark-circle:before {
  content: "\e87f"; }

.lnr-cross-circle:before {
  content: "\e880"; }

.lnr-plus-circle:before {
  content: "\e881"; }

.lnr-circle-minus:before {
  content: "\e882"; }

.lnr-arrow-up-circle:before {
  content: "\e883"; }

.lnr-arrow-down-circle:before {
  content: "\e884"; }

.lnr-arrow-left-circle:before {
  content: "\e885"; }

.lnr-arrow-right-circle:before {
  content: "\e886"; }

.lnr-chevron-up-circle:before {
  content: "\e887"; }

.lnr-chevron-down-circle:before {
  content: "\e888"; }

.lnr-chevron-left-circle:before {
  content: "\e889"; }

.lnr-chevron-right-circle:before {
  content: "\e88a"; }

.lnr-crop:before {
  content: "\e88b"; }

.lnr-frame-expand:before {
  content: "\e88c"; }

.lnr-frame-contract:before {
  content: "\e88d"; }

.lnr-layers:before {
  content: "\e88e"; }

.lnr-funnel:before {
  content: "\e88f"; }

.lnr-text-format:before {
  content: "\e890"; }

.lnr-text-format-remove:before {
  content: "\e891"; }

.lnr-text-size:before {
  content: "\e892"; }

.lnr-bold:before {
  content: "\e893"; }

.lnr-italic:before {
  content: "\e894"; }

.lnr-underline:before {
  content: "\e895"; }

.lnr-strikethrough:before {
  content: "\e896"; }

.lnr-highlight:before {
  content: "\e897"; }

.lnr-text-align-left:before {
  content: "\e898"; }

.lnr-text-align-center:before {
  content: "\e899"; }

.lnr-text-align-right:before {
  content: "\e89a"; }

.lnr-text-align-justify:before {
  content: "\e89b"; }

.lnr-line-spacing:before {
  content: "\e89c"; }

.lnr-indent-increase:before {
  content: "\e89d"; }

.lnr-indent-decrease:before {
  content: "\e89e"; }

.lnr-pilcrow:before {
  content: "\e89f"; }

.lnr-direction-ltr:before {
  content: "\e8a0"; }

.lnr-direction-rtl:before {
  content: "\e8a1"; }

.lnr-page-break:before {
  content: "\e8a2"; }

.lnr-sort-alpha-asc:before {
  content: "\e8a3"; }

.lnr-sort-amount-asc:before {
  content: "\e8a4"; }

.lnr-hand:before {
  content: "\e8a5"; }

.lnr-pointer-up:before {
  content: "\e8a6"; }

.lnr-pointer-right:before {
  content: "\e8a7"; }

.lnr-pointer-down:before {
  content: "\e8a8"; }

.lnr-pointer-left:before {
  content: "\e8a9"; }

/**
 * Base grid styles: single column
 */
.row {
  margin-left: -1.4%;
  margin-right: -1.4%; }

.grid-fifth, .grid-fourth, .grid-third, .grid-half, .grid-one-third, .grid-two-thirds, .grid-three-fourths, .grid-full, .grid-dynamic {
  float: left;
  padding-left: 1.4%;
  padding-right: 1.4%;
  width: 100%; }

/**
 * Reverses order of grid for content choreography
 */
.grid-flip {
  float: right; }

/**
 * Add columns to grid on bigger screens
 */
@media (min-width: 20em) {
  .row-start-xsmall .grid-fifth {
    width: 20%; }

  .row-start-xsmall .grid-fourth {
    width: 25%; }

  .row-start-xsmall .grid-third {
    width: 33.33333%; }

  .row-start-xsmall .grid-half {
    width: 50%; }

  .row-start-xsmall .grid-one-third {
    width: 16.66667%; }

  .row-start-xsmall .grid-two-thirds {
    width: 66.66667%; }

  .row-start-xsmall .grid-three-fourths {
    width: 75%; }

  .row-start-xsmall .grid-full {
    width: 100%; } }
@media (min-width: 30em) {
  .row-start-small .grid-fifth {
    width: 20%; }

  .row-start-small .grid-fourth {
    width: 25%; }

  .row-start-small .grid-third {
    width: 33.33333%; }

  .row-start-small .grid-half {
    width: 50%; }

  .row-start-small .grid-one-third {
    width: 16.66667%; }

  .row-start-small .grid-two-thirds {
    width: 66.66667%; }

  .row-start-small .grid-three-fourths {
    width: 75%; }

  .row-start-small .grid-full {
    width: 100%; } }
@media (min-width: 53.125em) {
  .grid-fifth {
    width: 20%; }

  .grid-fourth {
    width: 25%; }

  .grid-third {
    width: 33.33333%; }

  .grid-half {
    width: 50%; }

  .grid-one-third {
    width: 16.66667%; }

  .grid-two-thirds {
    width: 66.66667%; }

  .grid-three-fourths {
    width: 75%; }

  .grid-full {
    width: 100%; }

  .offset-fifth {
    margin-left: 20%; }

  .offset-fourth {
    margin-left: 25%; }

  .offset-third {
    margin-left: 33.33333%; }

  .offset-half {
    margin-left: 50%; }

  .offset-one-third {
    margin-left: 16.66667%; }

  .offset-two-thirds {
    margin-left: 66.66667%; }

  .offset-three-fourths {
    margin-left: 75%; }

  .offset-full {
    margin-left: 100%; } }
/**
 * Dynamic grid
 */
@media (min-width: 20em) {
  .grid-dynamic {
    width: 50%; } }
@media (min-width: 30em) {
  .grid-dynamic {
    width: 33.33333%; } }
@media (min-width: 53.125em) {
  .grid-dynamic {
    width: 25%; } }
.content-wrap {
  flex: 1;
  -ms-flex: 1 0 auto;
  position: relative;
  width: 100%;
  padding: 0; }

.content-wrap-post {
  padding-top: 2.5em; }
  @media (min-width: 53.125em) {
    .content-wrap-post {
      padding-top: 4.0625em; } }

.content {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-bottom: 3.75em; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  width: 88%; }
  @media (min-width: 53.125em) {
    .container.sm {
      width: 65%; } }

.grid-flex-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.25em;
  position: relative;
  margin: auto; }
  @media (min-width: 60em) {
    .grid-flex-wrapper {
      justify-content: space-between; } }
  .grid-flex-wrapper > div {
    display: block;
    width: 100%;
    margin-bottom: 1.25em; }
    @media (min-width: 53.125em) {
      .grid-flex-wrapper > div {
        width: calc(50% - 20px); } }
    @media (min-width: 60em) {
      .grid-flex-wrapper > div {
        width: calc(33% - 10px); } }

.header {
  position: relative;
  flex: none;
  width: 100%;
  margin: 0;
  padding: 1.875em 0 1.5625em;
  background-color: #2a302e;
  border-bottom: 1px solid rgba(85, 85, 85, 0.075);
  z-index: 200;
  transition: background 0.3s ease-out; }
  .header:hover {
    background-color: #252b29; }

.logo {
  float: left; }
  .logo span,
  .logo a,
  .logo .link-block-styled {
    color: white; }

.footer {
  flex: none;
  padding: 2.1875em 0;
  color: #555555;
  border-top: 1px solid rgba(85, 85, 85, 0.075); }
  .footer p {
    display: inline-block;
    margin: 0; }
  .footer a, .footer .link-block-styled {
    color: #555555; }
    .footer a:first-child, .footer .link-block-styled:first-child {
      padding-right: 0.9375em; }

/**
 * @section Buttons
 * Styling for CSS buttons.
 */
/**
 * Primary buttons
 */
.btn {
  position: relative;
  background-color: #275cea;
  border: 0.125em solid #275cea;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.3;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
  padding: 0.6875em 1em;
  transition: 0.25s all ease-out; }
  .btn:hover, a .btn:hover, .link-block-styled .btn:hover, .btn:focus, a .btn:focus, .link-block-styled .btn:focus, .btn:active, a .btn:active, .link-block-styled .btn:active, .btn.active {
    background-color: #113db3;
    border-color: #113db3;
    color: white;
    text-decoration: none; }

/**
 * Secondary buttons
 */
.btn-secondary {
  background-color: gray;
  border-color: gray; }
  .btn-secondary:hover, a .btn-secondary:hover, .link-block-styled .btn-secondary:hover, .btn-secondary:focus, a .btn-secondary:focus, .link-block-styled .btn-secondary:focus, .btn-secondary:active, a .btn-secondary:active, .link-block-styled .btn-secondary:active, .btn-secondary.active {
    background-color: #5a5a5a;
    border-color: #5a5a5a; }

/**
 * Secondary buttons
 */
.btn-transparent {
  background-color: transparent;
  border-color: #275cea;
  color: #275cea; }
  .btn-transparent:hover, a .btn-transparent:hover, .link-block-styled .btn-transparent:hover, .btn-transparent:focus, a .btn-transparent:focus, .link-block-styled .btn-transparent:focus, .btn-transparent:active, a .btn-transparent:active, .link-block-styled .btn-transparent:active, .btn-transparent.active {
    background-color: #275cea;
    border-color: #113db3; }

.btn-transparent-inverse {
  background-color: transparent;
  border-color: white; }
  .btn-transparent-inverse:hover, a .btn-transparent-inverse:hover, .link-block-styled .btn-transparent-inverse:hover, .btn-transparent-inverse:focus, a .btn-transparent-inverse:focus, .link-block-styled .btn-transparent-inverse:focus, .btn-transparent-inverse:active, a .btn-transparent-inverse:active, .link-block-styled .btn-transparent-inverse:active, .btn-transparent-inverse.active {
    color: #275cea;
    background-color: white;
    border-color: #b3b3b3; }

.btn-wider {
  padding-left: 1.5625em;
  padding-right: 1.5625em; }

/**
 * Active state
 */
.btn:active,
.btn.active {
  outline: 0; }

/**
 * Disabled state
 */
.btn.disabled,
.btn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none; }

/**
 * Button size
 */
.btn-large {
  font-size: 1em;
  line-height: normal;
  padding: 0.6875em 0.9375em; }

/**
 * Block-level buttons
 */
.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: block;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

/**
 * General styles
 */
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /**
   * @workaround Override default button styling
   * @affected Webkit/Firefox
   */
  -webkit-appearance: none; }

/**
 * Remove right margin on last element and inputs
 */
.btn:last-child,
input.btn {
  margin-right: 0; }

.btn-arrow {
  position: relative;
  font-size: 1.375em;
  padding-right: 1.5em;
  color: #154ad8;
  box-shadow: 0 0 1px transparent;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.15s; }
  .btn-arrow:after {
    content: "\e87a";
    font-family: Linearicons-Free;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #2a302e;
    right: 1px;
    padding: 0 1px;
    transform: translateZ(0);
    transition: transform 0.15s ease-out; }
  .btn-arrow:hover, .btn-arrow:focus {
    text-decoration: none;
    color: #123fb8; }
    .btn-arrow:hover:after, .btn-arrow:focus:after {
      transform: translateX(5px); }

.btn-scroll {
  position: absolute;
  width: 100%;
  bottom: 9.375em; }
  .btn-scroll a:hover, .btn-scroll .link-block-styled:hover, .btn-scroll .link-block:hover .link-block-styled, .link-block:hover .btn-scroll .link-block-styled, .btn-scroll span:hover {
    text-decoration: none;
    color: #f7f9fb; }
  .btn-scroll a, .btn-scroll .link-block-styled {
    padding: 10px;
    color: rgba(247, 249, 251, 0.7);
    font-size: 1.125em;
    transition: color 0.3s ease-out; }
  .btn-scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-left: -9px;
    border-left: 1px solid #f7f9fb;
    border-bottom: 1px solid #f7f9fb;
    transform: rotate(-45deg);
    animation: scrollDown 1.5s infinite; }

/**
 * @section Forms
 * Styling for form elements.
 */
form,
fieldset {
  margin-bottom: 1.5625em; }

fieldset {
  border: 0;
  padding: 0; }

legend,
label {
  display: block;
  font-weight: normal;
  margin: 0 0 0.3125em;
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  color: #55615d;
  font: inherit;
  margin: 0;
  padding: 0.3125em; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

input,
textarea,
select {
  border: 2px solid gray;
  border-radius: 1px;
  display: block;
  line-height: 1.875em;
  margin-bottom: 1.25em;
  padding: 0.9375em 0.625em 0.9375em 1.5625em;
  width: 100%; }
  @media (min-width: 53.125em) {
    input,
    textarea,
    select {
      line-height: 1.5625; } }

optgroup {
  font-weight: bold; }

form button,
form .button {
  margin-bottom: 1.25em; }

textarea {
  height: 12em;
  overflow: auto; }

[type="image"],
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin-bottom: 0.3125em;
  padding: 0;
  width: auto; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input:focus,
textarea:focus {
  border-color: #275cea;
  outline: 0;
  -webkit-appearance: none;
  appearance: none; }

[type="file"]:focus,
[type="checkbox"]:focus,
select:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.125em; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto; }

.input-condensed {
  padding: 1px 0.3125em;
  font-size: 0.9375em; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.input-search {
  width: 85%;
  padding-left: 0.9375em;
  padding-right: 2.5em;
  border-radius: 1.3125em;
  transition: width 300ms ease-in; }
  @media (min-width: 53.125em) {
    .input-search {
      width: 65%; } }

.btn-search {
  display: inline;
  color: gray;
  border: none;
  background: none;
  margin-left: -2.5em;
  margin-bottom: 0; }
  .btn-search .icon {
    fill: gray; }
  .btn-search:hover {
    color: #5a5a5a; }
    .btn-search:hover .icon {
      fill: #5a5a5a; }

/**
 * @section Overrides
 * Nudge and tweak alignment, spacing, and visibility.
 */
/**
 * Text sizes
 */
.text-small {
  font-size: 0.9375em; }

.text-large {
  font-size: 1.1875em;
  line-height: 1.4; }
  @media (min-width: 53.125em) {
    .text-large {
      font-size: 1.3125em; } }

/**
 * Text colors
 */
.text-primary {
  color: #275cea; }

.text-accent {
  color: #fff8e8; }

.text-white {
  color: white; }

.text-muted {
  color: gray; }

.text-error {
  color: #880e14; }

.text-success {
  color: #377f31; }

.bg-primary {
  background: #275cea; }

.bg-accent {
  background: #fff8e8; }

.bg-white {
  background: white; }

.bg-gray {
  background: #f7f9fb; }

.section-title.text-white {
  border-color: white; }

.border-white {
  border-color: white; }

/**
 * Text alignment
 */
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

@media (min-width: 53.125em) {
  .text-right-medium {
    text-align: right; } }
/**
 * Floats
 */
.float-left {
  float: left; }

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: none; }
  @media (min-width: 53.125em) {
    .float-right {
      float: right; } }

/**
 * Margins
 */
.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.margin-top {
  margin-top: 1.5625em; }

.margin-bottom {
  margin-bottom: 1.5625em; }

.margin-bottom-small {
  margin-bottom: 0.5em; }

.margin-bottom-large {
  margin-bottom: 2em; }

/**
 * Visibility
 */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

[hidden], template {
  display: none;
  visibility: hidden; }

.clearfix:before, .container:before,
.row:before,
.clearfix:after,
.container:after,
.row:after {
  display: table;
  content: " "; }

.clearfix:after, .container:after,
.row:after {
  clear: both; }

.hidden-sm {
  display: block; }
  @media (max-width: 53.125em) {
    .hidden-sm {
      display: none; } }

.visible-sm {
  display: none; }
  @media (max-width: 53.125em) {
    .visible-sm {
      display: inline-block; } }

@media (max-width: 53.125em) {
  .block-sm {
    display: block; } }

.visible-xs {
  display: none; }
  @media (max-width: 30em) {
    .visible-xs {
      display: inline-block; } }

.pad {
  padding: 2.5em 0 3.75em; }
  @media (min-width: 53.125em) {
    .pad {
      padding: 3.75em 0; } }
  .pad.xl {
    padding: 6.25em 0; }

.pad-top {
  padding: 5em 0 0; }

.pad-bottom {
  padding: 0 0 5em; }

.position-center {
  margin: 0 auto;
  text-align: center; }

/**
 * Padding
 */
.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.padding-top {
  padding-top: 1.5625em; }

.padding-top-small {
  padding-top: 0.5em; }

.padding-top-large {
  padding-top: 2em; }

.padding-bottom {
  padding-bottom: 1.5625em; }

.padding-bottom-small {
  padding-bottom: 0.5em; }

.padding-bottom-large {
  padding-bottom: 2em; }

@media (min-width: 53.125em) {
  .pad-left-0 {
    padding-left: 0; } }

@media (min-width: 53.125em) {
  .pad-right-0 {
    padding-right: 0; } }

@media (min-width: 53.125em) {
  .pad-0 {
    padding: 0; } }
